/* Footer Bar */
footer{
    background-color:#006699; /*NDNU Blue*/
    border-top:5px solid #f8c460;
    bottom:0;
    /*color:white;*/
    font-weight:bold;
    height:50px;
    position:absolute;
    text-align:center;
    width:100%;
}
.footer-left{
    float:left;
    margin:6px 20px 0 20px;
    top:30%;
    z-index:1;
}
.footer-right{
    float:right;
    margin:-4px 20px 0 20px;
    position:relative;
    top:30%;
    z-index:1;
}
.linky{
    color:white;
}
.select-lang{
    color:black;
}

/* Modal */
.btn-more{
    float:right;
}
.vid-frame{
    width:325px;
    height:158px;
}
#audio-panel{
    margin:5px 5px 15px 5px;
}
audio::-webkit-media-controls-panel{
    /*background-color:transparent;*/
    border-radius:25px;
    border: 2px solid #f8c460;
    padding: 5px;
}
